* {
  margin: 0;
  padding: 0;
}

.homeCrawl {
	font-size: 42px;
	color: #33adff;
}

.header {
	background: #3A3A3A;
	height: 68px;
	width: 100%;
	color: #f2f2f2;
	position: fixed;
}

.left {
	float: left;
	display: inline-block;
	padding: 15px 2px 15px 22px;
}

.left:hover {
	cursor: pointer;
}

.left:hover {
	font-size: 17px
}

.ep1:hover {
	cursor: pointer;
	background: #232323;
}

.ep2:hover {
	cursor: pointer;
	background: #232323;
}

.ep3:hover {
	cursor: pointer;
	background: #232323;
}

.ep4:hover {
	cursor: pointer;
	background: #232323;
}

.ep5:hover {
	cursor: pointer;
	background: #232323;
}

.ep6:hover {
	cursor: pointer;
	background: #232323;
}

.right {
	float: right;
	display: inline-block;
	padding: 18px 28px 22px 5px;
}

.main {
	width: 100%;
	height: 100vh;
	background-image: url(crawl.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainBox {
	height: 525px;
	width: 725px;
	color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 52px;
	font-family: 'Roboto Mono', monospace;

}

.clickColor {
	background: #232323;
}
